body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/grey_wash_wall.png");
	font-size: 20px;
	color: #f2f2f2;
	font-family: 'Dosis', sans-serif;
}

.container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

a:link    { color: #efefef; text-decoration: none; }
a:visited { color: #efefef; }
a:active  { color: #efefef; }
a:hover   { color: #0d0d0d; }

header
{
	font-family: 'Lobster', cursive;
	display: block;
	text-align: center;
}

header > h1
{
	font-size: 50px;
	letter-spacing: 4px;
	margin-top: 10px;
	margin-bottom: 0px;
}

header > p
{
	letter-spacing: 1px;
	margin-top: 5px;
	font-size: 25px;
}

.login_register
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

input[type=text],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=submit]
{
	width: 300px;
	background-color: #36b03c;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

.description
{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.description ul
{
	margin: 0px;
	padding: 0px;
}

.description ul > li
{
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

strong
{
	letter-spacing: 2px;
	font-size: 25px;
}